<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT event ANY>
<!ATTLIST event id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>

]>
<root id="-1">
  <landingPage id="1054" key="316523fa-dbdc-46c9-9b9b-57373cf65a74" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-07-07T17:54:01" updateDate="2016-07-07T17:54:01" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="landingPage">
    <event id="1059" key="c382727f-8204-413d-9b66-98678b1b972d" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-07-11T14:09:57" updateDate="2016-07-12T10:20:32" nodeName="St Paul" urlName="st-paul" path="-1,1054,1059" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="event">
      <date>2016-07-12T14:08:30</date>
      <title><![CDATA[Upcoming concert]]></title>
      <content><![CDATA[OrientXpress's next concert will be 12:15pm-1pm on Tuesday, July 12, 2016, at Old St Paul's on Mulgrave Street. The concert is free! Do come along, we'd love to see you there]]></content>
    </event>
    <event id="1060" key="03d86b1a-9e19-4edf-851a-32d6bc4d2b37" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-07-11T14:11:12" updateDate="2016-07-12T10:20:44" nodeName="night market" urlName="night-market" path="-1,1054,1060" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="event">
      <date>2016-07-01T20:00:00</date>
      <title><![CDATA[Night Market concerts]]></title>
      <content><![CDATA[OrientXpress will be playing two concerts in July as part of a Shanghai night of love weekend at the Night Market, Cuba St, Wellington. 8pm-9pm, July 1 and July 2]]></content>
    </event>
    <event id="1061" key="bb380100-8cfe-4231-a79e-84fe22270d69" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-07-11T14:12:06" updateDate="2016-07-12T10:20:58" nodeName="Lunch time gig" urlName="lunch-time-gig" path="-1,1054,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="event">
      <date>2016-07-13T14:11:56</date>
      <title><![CDATA[Old St Paul's concert]]></title>
      <content><![CDATA[OrientXpress will be playing a concert at Old St Paul's, Mulgrave St. Noon-1pm, July 12. See you there!!]]></content>
    </event>
  </landingPage>
  <gallery id="1069" key="a5da4a7c-a770-455a-8430-917eef5cbfe8" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-07-13T09:10:36" updateDate="2016-07-13T09:10:36" nodeName="Gallery" urlName="gallery" path="-1,1069" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="gallery">
    <images><![CDATA[1067,1068]]></images>
  </gallery>
</root>