<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT event ANY>
<!ATTLIST event id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT musician ANY>
<!ATTLIST musician id ID #REQUIRED>

]>
<root id="-1">
  <landingPage id="1054" key="316523fa-dbdc-46c9-9b9b-57373cf65a74" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-07-07T17:54:01" updateDate="2016-07-07T17:54:01" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="landingPage">
    <event id="1059" key="c382727f-8204-413d-9b66-98678b1b972d" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-07-11T14:09:57" updateDate="2016-07-12T10:20:32" nodeName="St Paul" urlName="st-paul" path="-1,1054,1059" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="event">
      <date>2016-07-12T14:08:30</date>
      <title><![CDATA[Upcoming concert]]></title>
      <content><![CDATA[OrientXpress's next concert will be 12:15pm-1pm on Tuesday, July 12, 2016, at Old St Paul's on Mulgrave Street. The concert is free! Do come along, we'd love to see you there]]></content>
    </event>
    <event id="1060" key="03d86b1a-9e19-4edf-851a-32d6bc4d2b37" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-07-11T14:11:12" updateDate="2016-07-12T10:20:44" nodeName="night market" urlName="night-market" path="-1,1054,1060" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="event">
      <date>2016-07-01T20:00:00</date>
      <title><![CDATA[Night Market concerts]]></title>
      <content><![CDATA[OrientXpress will be playing two concerts in July as part of a Shanghai night of love weekend at the Night Market, Cuba St, Wellington. 8pm-9pm, July 1 and July 2]]></content>
    </event>
    <event id="1061" key="bb380100-8cfe-4231-a79e-84fe22270d69" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-07-11T14:12:06" updateDate="2016-07-12T10:20:58" nodeName="Lunch time gig" urlName="lunch-time-gig" path="-1,1054,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="event">
      <date>2016-07-13T14:11:56</date>
      <title><![CDATA[Old St Paul's concert]]></title>
      <content><![CDATA[OrientXpress will be playing a concert at Old St Paul's, Mulgrave St. Noon-1pm, July 12. See you there!!]]></content>
    </event>
  </landingPage>
  <gallery id="1069" key="a5da4a7c-a770-455a-8430-917eef5cbfe8" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-07-13T09:10:36" updateDate="2016-07-14T16:32:13" nodeName="Gallery" urlName="gallery" path="-1,1069" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="gallery">
    <images><![CDATA[1079,1080]]></images>
  </gallery>
  <about id="1077" key="1e0a66d1-7eac-472f-9cf0-c578c8896ecd" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-07-13T13:56:56" updateDate="2016-07-13T13:58:06" nodeName="About" urlName="about" path="-1,1077" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="about">
    <musician id="1078" key="af343e43-2c84-4fb7-8bb1-c935a39af356" parentID="1077" level="2" creatorID="0" sortOrder="0" createDate="2016-07-13T13:57:35" updateDate="2016-07-14T16:42:17" nodeName="Han" urlName="han" path="-1,1077,1078" isDoc="" nodeType="1074" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Han Jia]]></title>
      <photo>1082</photo>
      <description><![CDATA[Alto Sax - Han Jia comes form Beijing, and is an IT Computer Programmer in Wellington. He is a foundation member of OrientXpress.]]></description>
    </musician>
    <musician id="1084" key="b8543238-4de1-4973-89e1-99f54680cdde" parentID="1077" level="2" creatorID="0" sortOrder="1" createDate="2016-07-14T16:43:31" updateDate="2016-07-14T16:44:22" nodeName="Michael Bain" urlName="michael-bain" path="-1,1077,1084" isDoc="" nodeType="1074" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Michael Bain]]></title>
      <photo>1083</photo>
      <description><![CDATA[Clarinet and Saxes - Michael plays in several jazz bands and orchestras in Wellington and was a member of the Central Band of the RNZAF for many years. He is President of the Wellington Jazz Club and Musical Director of the CPA Orchestra. He is a foundation member of OrientXpress.]]></description>
    </musician>
    <musician id="1091" key="c406a727-d4a3-4995-bae2-53c232b0419d" parentID="1077" level="2" creatorID="1" sortOrder="3" createDate="2016-07-22T08:06:12" updateDate="2016-07-22T08:36:38" nodeName="Grant Hannis" urlName="grant-hannis" path="-1,1077,1091" isDoc="" nodeType="1074" creatorName="grant" writerName="grant" writerID="1" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Grant Hannis]]></title>
      <photo>1098</photo>
      <description><![CDATA[Bass - Grant has been playing bass for the past 35 years. In his spare time he teaches journalism at Massey University.]]></description>
    </musician>
    <musician id="1092" key="88183d6c-cdeb-475b-a004-44def45d74f8" parentID="1077" level="2" creatorID="1" sortOrder="4" createDate="2016-07-22T08:06:40" updateDate="2016-07-22T08:36:55" nodeName="Wei Hongmei" urlName="wei-hongmei" path="-1,1077,1092" isDoc="" nodeType="1074" creatorName="grant" writerName="grant" writerID="1" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Wei Hongmei]]></title>
      <photo>1095</photo>
      <description><![CDATA[Vocalist - Hongmei is from Guizhou, South-west China, and moved to New Zealand in 2002. Hongmei is an early childhood teacher at Khandallah Ngaio Community Creche.]]></description>
    </musician>
    <musician id="1093" key="e3461de9-a361-424e-9e6f-fae49d232586" parentID="1077" level="2" creatorID="1" sortOrder="5" createDate="2016-07-22T08:07:00" updateDate="2016-07-22T08:07:00" nodeName="Alice Qiao" urlName="alice-qiao" path="-1,1077,1093" isDoc="" nodeType="1074" creatorName="grant" writerName="grant" writerID="1" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Alice Qiao]]></title>
      <photo>1089</photo>
      <description><![CDATA[Piano - Alice is from Changchun, North-east China, and moved to New Zealand in 2000. She is a Senior Pricing Analyst at Insurance Australia Group.]]></description>
    </musician>
    <musician id="1094" key="669060e0-06dd-437e-b477-a275d7c6f640" parentID="1077" level="2" creatorID="1" sortOrder="6" createDate="2016-07-22T08:08:07" updateDate="2016-07-22T08:37:01" nodeName="Alan Burden" urlName="alan-burden" path="-1,1077,1094" isDoc="" nodeType="1074" creatorName="grant" writerName="grant" writerID="1" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Alan Burden]]></title>
      <photo>1097</photo>
      <description><![CDATA[Alan Burden has played in numerous bands and shows around Wellington. He also works in the IT industry.]]></description>
    </musician>
    <musician id="1099" key="d55fde22-859d-472d-bd43-771674afbcbb" parentID="1077" level="2" creatorID="1" sortOrder="7" createDate="2016-07-22T08:37:39" updateDate="2016-07-22T08:37:39" nodeName="Luo Hui" urlName="luo-hui" path="-1,1077,1099" isDoc="" nodeType="1074" creatorName="grant" writerName="grant" writerID="1" template="0" nodeTypeAlias="musician">
      <title><![CDATA[Luo Hui]]></title>
      <photo>1096</photo>
      <description><![CDATA[Clarinet - Hui comes from Wuhan, Central China. He is a Lecturer in Chinese Literature at Victoria University and Director of the Confucius Institute in Wellington.]]></description>
    </musician>
  </about>
</root>