@inherits UmbracoTemplatePage
@using OrientXpress_Umbraco.Models;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    var children = CurrentPage.Site().Children;
}

<div class="about">
    <div class="container">
        <div class="about-left">
            <h2>ABOUT</h2>
            <div class="about-bottom">
                <div class="col-md-7 about-grid">
                    <h6><a href="single.html">Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci donec sit amet eros. Lorem ipsum dolor.</a></h6>
                    <p>
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna
                        Maecenas tristique orci ac sem. Duis ultricies pharetra magna Donec accumsan malesuada orci.
                    </p>
                </div>
                <div class="col-md-5 about-grid1">
                    <a href="single.html">
                        <img src="~/images/ab.jpg" alt="" class="img-responsive ">
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    
    <!---->
    <div class="container">
        <div class="about-top">
            <h3>TEAM</h3>
            <div class="col-md1 ">
                @if (children != null && children.Count() > 0)
                {
                    foreach (var child in children)
                    {
                        if (child.DocumentTypeAlias == "musician")
                        {
                            <div>
                                @Html.Partial("_PartialMusician", new PartialIndex { Index = child })
                            </div>
                        }
                    }
                }
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->
</div>