@using System.Web.Optimization
@using OrientXpress_Umbraco.Models;
@using Newtonsoft.Json;
@inherits UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    ViewBag.Title = "Home Page";

    var events = new List<EventViewModel>();
    var children = CurrentPage.Site().Children;
    var eventsJson = string.Empty;
    if (children != null && children.Count() > 0)
    {
        foreach (var child in children)
        {
            if (child.DocumentTypeAlias == "event")
            {
                var title = child.GetPropertyValue<string>("title");
                var date = child.GetPropertyValue<DateTime>("date");
                var content = child.GetPropertyValue<string>("content");
                events.Add(new EventViewModel { Title = title, Date = date, Content = "Test" });
                events.OrderByDescending(p => p.Date);
            }
        }
        eventsJson = JsonConvert.SerializeObject(events);
    }
}

@Scripts.Render("~/bundles/ox-app")

<script type="text/javascript">
        System.import('app').catch(function (err) { console.error(err); });

        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
</script>

<!--program start here-->
<div class="program">
    <div class="container">
        <div class="program-main">
            <div class="program-bottom">
                <div class="col-md-6 program-gridleft">
                    <h4>Get to know us</h4>
                    <div class="quoteation">
                        <div class="music-icn"><span class="glyphicon glyphicon-music" aria-hidden="true"> </span></div>
                        <div class="quote-text">
                            <h5>Welcome</h5>
                            <p>Welcome to the OrientXpress website. OrientXpress is a great Chinese and Western jazz band from Wellington, New Zealand. The band plays popular Chinese tunes like Ye Shanghai, Yue Liang Dai Biao Wo De Xin and Song Bie, including some Cantonese tunes like Shun Liu Ni Liu, Shi Qu De Nuo Yan and Ren Sheng He Chu Bu Xiang Feng.</p>
                            <br />
                            <p>
                                OrientXpress also plays Western jazz tunes, like Blue Moon, Autumn Leaves, and Jambalaya. In this website, you can find out our news, activities and galleries.
                            </p>
                            <div class="program-btn">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6 program-gridright">
                    <img src="~/images/logo.jpg" alt="" class="img-responsive">
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--program end here-->
<!--singer start here-->
<div class="singer">
    <div class="container">
        <div class="singer-main">
            <div class="col-md-4 singer-left">
                <a href="#"><img src="~/images/cd_cover.jpg" width="250" height="250"></a>
            </div>
            <div class="col-md-8 singer-right">
                <h3>CD is available</h3>
                <h4>OrientXpress’s first CD, “Ye Shanghai” (Shanghai at Night)</h4>
                @*<h5>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>*@
                <p>OrientXpress’s first CD, “Ye Shanghai” (Shanghai at Night), features 12 of the band’s songs. The music ranges from traditional Shanghai jazz tunes to catchy pop songs. The CD can be purchased for $NZ20 (including PxP) by emailing: <a href="mailto:g.d.hannis@massey.ac.nz?Subject=CD" target="_top">g.d.hannis@massey.ac.nz</a> (remember to include your postal address!).</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--info end here-->
<!--music strip-->
<div class="music-strip">
    <div class="container">
        <div class="music-strip-main">
            <div class="col-md-9 music-strip-left">
                <h3> Meet OrientXpress</h3>
                <h4> We are the only band playing both western and chinese songs in NZ</h4>
                <p>OrientXpress plays a mixture of Chinese and Western jazz and pop. Formed in 2006, the band features female vocals, saxes, clarinets, piano, bass and drums. The band is particularly fond of Shanghai Jazz, the music popular in Shanghai jazz clubs in the 1930s, and strives to recreate the nightclub sound of that exotic era.</p>
            </div>
            <div class="col-md-3 music-strip-right">
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
<!--music strip end here-->
<ox-app>Loading...</ox-app>